* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  background: #181818;
}
header .container .header-content {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-content .header-logo {
  cursor: pointer;
}
header .container .header-content nav ul {
  display: flex;
  align-items: center;
}
header .container .header-content nav ul li {
  margin-left: 30px;
}
header .container .header-content nav ul li a {
  font-size: 15px;
  color: #fff;
}
header .container .header-content nav ul .button {
  background: #FFFFFF;
  border-radius: 14px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .header-content nav ul .button a {
  color: #000;
}
header .container .header-content .nav-bar {
  display: none;
}
header .container .header-content .nav-bar i {
  color: #fff;
  font-size: 30px;
}

main #home {
  height: 100vh;
}
main #home .home-content {
  height: 100vh;
  background-image: url(../image/bg.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
main #home .home-content .home-text {
  width: 580px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 70px;
}
main #home .home-content .home-text h6 {
  font-size: 14px;
  text-align: center;
}
main #home .home-content .home-text h2 {
  font-size: 54px;
  text-align: center;
}
main #home .home-content .home-text p {
  font-size: 14px;
  text-align: center;
}
main #home .home-content .home-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 40px;
}
main #home .home-content .home-title span {
  margin-right: 10px;
}
main #home .home-content .home-title span img {
  margin-right: 4px;
}
main #cards {
  background-color: #000;
  height: 220vh;
}
main #cards .container .cards-content {
  padding-top: 112px;
  display: flex;
  flex-direction: column;
}
main #cards .container .cards-content .cards-title {
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}
main #cards .container .cards-content .cards-title h2 {
  font-size: 40px;
}
main #cards .container .cards-content .cards-title p {
  font-size: 23px;
}
main #cards .container .cards-content .cards {
  height: 180vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main #cards .container .cards-content .cards .card-item {
  width: 48%;
  height: 550px;
  position: relative;
}
main #cards .container .cards-content .cards .card-item img {
  width: 100%;
  height: 550px;
}
main #cards .container .cards-content .cards .card-item .card-img-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
main #cards .container .cards-content .cards .card-item .card-img-text p {
  margin: 10px 0;
}
main #cards .container .cards-content .cards .card-item .card-img-text .button {
  width: 140px;
  height: 42px;
  color: #000;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
main #cards .container .cards-content .cards .card-item .card-img-text .button .black-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
}
main #images {
  height: 100vh;
}
main #images .images-content {
  width: 100%;
  height: 100vh;
  background-image: url(../image/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
}
main #images .images-content .images-text {
  width: 300px;
  margin-right: 60px;
}
main #images .images-content .images-title {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}
main #images .images-content .images-title span {
  margin-right: 10px;
}
main #images .images-content .images-title span img {
  margin-right: 4px;
}
main #gearcage {
  height: 540px;
}
main #gearcage .gearcage-content {
  height: 540px;
  display: flex;
  justify-content: space-between;
}
main #gearcage .gearcage-content .gearcage-text {
  width: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 225px 100px;
}
main #gearcage .gearcage-content .gearcage-text h5 {
  color: #C0C0C0;
  font-size: 14px;
}
main #gearcage .gearcage-content .gearcage-text h2 {
  font-size: 28px;
}
main #gearcage .gearcage-content .gearcage-text p {
  font-size: 14px;
}
main #gearcage .gearcage-content .gearcage-text .button {
  width: 152px;
  height: 42px;
  color: #000;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 5px;
  margin-top: 20px;
}
main #gearcage .gearcage-content .gearcage-text .button .black-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
}
main #gearcage .gearcage-content .gearcage-img {
  width: 50%;
  background-image: url(../image/car.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
main #gearcage .gearcage-content .gearcage-img .gearcage-title {
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 45px;
  margin-right: 45px;
}
main #gearcage .gearcage-content .gearcage-img .gearcage-title span {
  margin-right: 10px;
}
main #gearcage .gearcage-content .gearcage-img .gearcage-title span img {
  margin-right: 4px;
}
main #images2 {
  height: 100vh;
}
main #images2 .images2-content {
  width: 100%;
  height: 100vh;
  background-image: url(../image/backg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
}
main #images2 .images2-content .images2-text {
  width: 300px;
  margin-right: 60px;
}
main #images2 .images2-content .images2-title {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}
main #images2 .images2-content .images2-title span {
  margin-right: 10px;
}
main #images2 .images2-content .images2-title span img {
  margin-right: 4px;
}
main #clients {
  height: 500px;
  background-color: #000;
}
main #clients .container .clients-content {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
}
main #clients .container .clients-content .clients-title h2 {
  text-align: center;
  font-size: 40px;
}
main #clients .container .clients-content .clients-title p {
  text-align: center;
  font-size: 24px;
}
main #clients .container .clients-content .clients-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main #images3 {
  height: 100vh;
}
main #images3 .images3-content {
  width: 100%;
  height: 100vh;
  background-image: url(../image/backgr.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 14px;
  position: relative;
}
main #images3 .images3-content .images3-text {
  width: 300px;
  margin-right: 60px;
}
main #images3 .images3-content .images3-title {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 40px;
  margin-right: 40px;
}
main #images3 .images3-content .images3-title span {
  margin-right: 10px;
}
main #images3 .images3-content .images3-title span img {
  margin-right: 4px;
}
main #help {
  height: 400px;
  background-color: #000;
}
main #help .help {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main #help .help .help-text {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 570px;
}
main #help .help .help-text h3 {
  font-size: 40px;
  text-align: center;
}
main #help .help .help-text p {
  font-size: 24px;
  color: #C0C0C0;
  margin: 15px 0;
}
main #help .help .help-text .button {
  width: 150px;
  height: 42px;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
main #help .help .help-text .button .black-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
}
main #help .help .help-text .button p {
  font-size: 14px;
  color: #000;
}

footer {
  width: 100%;
  background-color: #000;
  height: 640px;
}
footer .container .footer-top {
  width: 100%;
  height: 330px;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-top .footer-top-logo {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13px;
}
footer .container .footer-top .footer-top-logo img {
  margin-bottom: 20px;
  width: 128px;
  height: 31px;
}
footer .container .footer-top .footer-top-nav {
  display: flex;
}
footer .container .footer-top .footer-top-nav a {
  color: #fff;
}
footer .container .footer-top .footer-top-nav nav {
  margin-left: 50px;
}
footer .container .footer-top .footer-top-nav nav ul li:first-child a {
  color: #C0C0C0;
}
footer .container .footer-middle {
  height: 132px;
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-middle .footer-middle-text {
  display: flex;
  flex-direction: column;
}
footer .container .footer-middle .footer-middle-text h2 {
  font-size: 14px;
  color: #fff;
  margin-bottom: 20px;
}
footer .container .footer-middle .footer-middle-text p {
  font-size: 13px;
  color: #C0C0C0;
}
footer .container .footer-middle .button {
  width: 500px;
  height: 42px;
  color: #000;
  border-radius: 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
footer .container .footer-middle .button .black-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 20px;
}
footer .container .footer-bottom {
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-bottom p {
  color: #C0C0C0;
  font-size: 14px;
}
footer .container .footer-bottom .social ul {
  display: flex;
}
footer .container .footer-bottom .social ul i {
  color: #C0C0C0;
  margin-left: 10px;
}

@media screen and (max-width: 393px) {
  header {
    width: 100%;
  }
  header .container {
    width: 90%;
  }
  header .container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .header-content nav {
    display: none;
  }
  header .container .header-content .nav-bar {
    display: block;
  }
  main #home .home-content {
    width: 100%;
    background-size: cover;
    align-items: center;
  }
  main #home .home-content .home-title {
    display: none;
  }
  main #cards {
    height: auto;
  }
  main #cards .container {
    max-width: 90%;
  }
  main #cards .container .cards-content .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }
  main #cards .container .cards-content .cards .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  main #cards .container .cards-content .cards .card-item img {
    width: 100%;
  }
  main #gearcage {
    height: auto;
  }
  main #gearcage .gearcage-content {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }
  main #gearcage .gearcage-content .gearcage-text {
    width: 100%;
    padding: 20px 10px;
  }
  main #gearcage .gearcage-content .gearcage-img {
    width: 100%;
    height: 300px;
    background-image: url(../image/car.png);
  }
}
@media screen and (min-width: 394px) and (max-width: 768px) {
  header {
    width: 100%;
  }
  header .container .header-content {
    width: 100%;
  }
  header .container .header-content nav {
    display: none;
  }
  header .container .header-content .nav-bar {
    display: block;
  }
  main #home .home-content {
    width: 100%;
    background-size: cover;
    align-items: center;
  }
  main #home .home-content .home-title {
    display: none;
  }
  main #cards {
    height: auto;
  }
  main #cards .container {
    max-width: 90%;
  }
  main #cards .container .cards-content .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }
  main #cards .container .cards-content .cards .card-item {
    width: 100%;
    margin-bottom: 20px;
  }
  main #cards .container .cards-content .cards .card-item img {
    width: 100%;
  }
  main #gearcage {
    height: auto;
  }
  main #gearcage .gearcage-content {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
  main #gearcage .gearcage-content .gearcage-text {
    width: 100%;
    height: 340px;
    padding: 20px 10px;
  }
  main #gearcage .gearcage-content .gearcage-img {
    width: 100%;
    height: 340px;
    background-image: url(../image/car.png);
  }
}/*# sourceMappingURL=style.css.map */