* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

header {
  width: 100%;
  background: #181818;
}
header .container .header-content {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header-content .header-logo {
  cursor: pointer;
}
header .container .header-content nav ul {
  display: flex;
  align-items: center;
}
header .container .header-content nav ul li {
  margin-left: 30px;
}
header .container .header-content nav ul li a {
  font-size: 15px;
  color: #fff;
}
header .container .header-content nav ul .button {
  background: #FFFFFF;
  border-radius: 14px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container .header-content nav ul .button a {
  color: #000;
}
header .container .header-content .nav-bar {
  display: none;
}
header .container .header-content .nav-bar i {
  color: #fff;
  font-size: 30px;
}

main #home {
  height: 100vh;
}
main #home .home-content {
  height: 100vh;
  background-image: url(../image/bg.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
main #home .home-content .home-text {
  width: 580px;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 70px;
}
main #home .home-content .home-text h6 {
  font-size: 14px;
  text-align: center;
}
main #home .home-content .home-text h2 {
  font-size: 54px;
  text-align: center;
}
main #home .home-content .home-text p {
  font-size: 14px;
  text-align: center;
}
main #home .home-content .home-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 40px;
}
main #home .home-content .home-title span {
  margin-right: 10px;
}
main #home .home-content .home-title span img {
  margin-right: 4px;
}

@media screen and (max-width: 393px) {
  header {
    width: 100%;
  }
  header .container {
    width: 90%;
  }
  header .container .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .container .header-content nav {
    display: none;
  }
  header .container .header-content .nav-bar {
    display: block;
  }
  main #home .home-content {
    width: 100%;
    background-size: cover;
    align-items: center;
  }
  main #home .home-content .home-title {
    display: none;
  }
}
@media screen and (min-width: 394px) and (max-width: 768px) {
  header {
    width: 100%;
  }
  header .container .header-content {
    width: 100%;
  }
  header .container .header-content nav {
    display: none;
  }
  header .container .header-content .nav-bar {
    display: block;
  }
  main #home .home-content {
    width: 100%;
    background-size: cover;
    align-items: center;
  }
  main #home .home-content .home-title {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */