*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
//  start header

header{
    width: 100%;
    background: #181818;
    .container{
        .header-content{
            width: 100%;
            height: 90px;
            @include flex-between();
            .header-logo{
                cursor: pointer;
            }
            nav{
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin-left: 30px;
                        a{
                            font-size: 15px;
                            color: #fff;
                        }
                    }
                    .button{
                        background: #FFFFFF;
                        border-radius: 14px;
                        height: 40px;
                        width: 150px;
                        @include flex-center();
                        a{
                            color: #000;
                        }
                    }
                }
            }
            .nav-bar{
                display: none;
                i{
                    color: #fff;
                    font-size: 30px;
                }
            }
        }
    }
}

// start main
main{
    #home{
        height: 100vh;
        .home-content{
            height: 100vh;
            background-image: url(../image/bg.png);
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
           .home-text{
             width: 580px;
             display: flex;
             flex-direction: column;
             color: #fff;
             margin-bottom: 70px;
             
             h6{
                font-size: 14px;
                text-align: center;
             }
             h2{
                font-size: 54px;
                text-align: center;
             }
             p{
                font-size: 14px;
                text-align: center;
             }
           }
           .home-title{
            color: #fff;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            span{
                margin-right: 10px;
                img{
                    margin-right: 4px;
                }
            }
           }
        }
    }
    #cards{
        background-color: #000;
        height:220vh;
        .container{
            .cards-content{
                padding-top: 112px;
                display: flex;
                flex-direction: column;
                .cards-title{
                    color: #fff;
                    text-align: center;
                    margin-bottom: 40px;
                    h2{
                        font-size: 40px;
                    }
                    p{
                        font-size: 23px;
                    }
                }
                .cards{
                    height:180vh;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .card-item{
                        width: 48%;
                        height: 550px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 550px;
                        }
                       
                        .card-img-text{
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            color: #fff;
                           font-size: 14px;
                           display: flex;
                           flex-direction: column;
                           padding: 30px;
                           p{
                            margin: 10px 0;
                           }
                           .button{
                            width: 140px;
                            height: 42px;
                            color: #000;
                            border-radius: 14px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            cursor: pointer;
                            .black-btn{
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                background-color: #000;
                                
                            }
                           }
                        }
                    }
                    
                }
            }
        }
    }
    #images{
       height: 100vh;
        .images-content{
            width: 100%;
            height: 100vh;
            background-image: url(../image/back.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #fff;
            font-size: 14px;
            position: relative;
            .images-text{
                width: 300px;
                margin-right: 60px;
            }
            .images-title{
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: 40px;
                margin-right: 40px;
                span{
                    margin-right: 10px;
                    img{
                        margin-right:4px ;
                    }
                }
            }
        }
    }
    #gearcage{
        height: 540px;
        .gearcage-content{
            height: 540px;
            display: flex;
            justify-content: space-between;
           
           .gearcage-text{
            width: 50%;
            background-color: #000;
            color: #fff;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            padding:225px 100px;
            h5{
                color: #C0C0C0;
                font-size: 14px;
            }
            h2{
                font-size: 28px;
            }
            p{
                font-size: 14px;
            }
            .button{
                width: 152px;
                height: 42px;
                color: #000;
                border-radius: 14px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;
                padding: 5px;
                margin-top: 20px;
                .black-btn{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #000;
                    
                }
               }
           }
           .gearcage-img{
             width: 50%;
             background-image: url(../image/car.png);
             background-size: cover;
             background-repeat: no-repeat;
             position: relative;
             .gearcage-title{
                color: #fff;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: 45px;
                margin-right: 45px;
                span{
                    margin-right: 10px;
                    img{
                        margin-right:4px;

                        
                    }
                }
             }
           }
        }
    }
    #images2{
        height: 100vh;
         .images2-content{
             width: 100%;
             height: 100vh;
             background-image: url(../image/backg.png);
             background-repeat: no-repeat;
             background-size: cover;
             display: flex;
             justify-content: flex-end;
             align-items: center;
             color: #fff;
             font-size: 14px;
             position: relative;
             .images2-text{
                 width: 300px;
                 margin-right: 60px;
             }
             .images2-title{
                 position: absolute;
                 right: 0;
                 bottom: 0;
                 margin-bottom: 40px;
                 margin-right: 40px;
                 span{
                     margin-right: 10px;
                     img{
                         margin-right:4px ;
                     }
                 }
             }
         }
     }
    #clients{
        height: 500px;
        background-color: #000;
        .container{
            .clients-content{
                width: 100%;
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                color: #fff;
                .clients-title{
                    h2{
                        text-align: center;
                        font-size: 40px;
                    }
                    p{
                        text-align: center;
                        font-size: 24px;
                    }
                }
                .clients-item{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }
    #images3{
        height: 100vh;
         .images3-content{
             width: 100%;
             height: 100vh;
             background-image: url(../image/backgr.png);
             background-repeat: no-repeat;
             background-size: cover;
             display: flex;
             justify-content: flex-end;
             align-items: center;
             color: #fff;
             font-size: 14px;
             position: relative;
             .images3-text{
                 width: 300px;
                 margin-right: 60px;
             }
             .images3-title{
                 position: absolute;
                 right: 0;
                 bottom: 0;
                 margin-bottom: 40px;
                 margin-right: 40px;
                 span{
                     margin-right: 10px;
                     img{
                         margin-right:4px ;
                     }
                 }
             }
         }
     }
    #help{
        height: 400px;
        background-color: #000;
        .help{
            height: 400px;
            width: 100%;
            @include flex-center();
            .help-text{
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 570px;
                h3{
                    font-size: 40px;
                    text-align: center;
                }
                p{
                    font-size:24px ;
                    color: #C0C0C0;
                    margin: 15px 0;
                }
                .button{
                    width: 150px;
                    height: 42px;
                    border-radius: 14px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    cursor: pointer;
                    
                    .black-btn{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: #000;  
                    }
                    p{
                        font-size: 14px;
                        color: #000;
                    }
                   }
            }
        }
    }
    
}

// start footer
footer{
    width: 100%;
    background-color: #000;
    height: 640px;
    .container{
        .footer-top{
            width: 100%;
            height: 330px;
            border-bottom: 2px solid #fff;
            @include flex-between();
            .footer-top-logo{
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                font-size: 13px;
                img{
                    margin-bottom: 20px;
                    width: 128px;
                    height: 31px;
                }
            }
            .footer-top-nav{
                display: flex;
                a{
                    color: #fff;
                }
                nav{
                    margin-left: 50px;
                    ul{
                        li:first-child{
                            a{
                                color: #C0C0C0;
                            }
                        }
                    }
                }
            }
        }
        .footer-middle{
            height: 132px;
            border-bottom: 2px solid #fff;
            @include flex-between();
            .footer-middle-text{
                display: flex;
                flex-direction: column;
                h2{
                    font-size: 14px;
                    color: #fff;
                    margin-bottom: 20px;
                }
                p{
                    font-size: 13px;
                    color: #C0C0C0;
                }
            }
            .button{
                width: 500px;
                height: 42px;
                color: #000;
                border-radius: 14px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                cursor: pointer;
                .black-btn{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: #000;
                    margin-right: 20px;
                }
               }
        }
        .footer-bottom{
            height: 180px;
            @include flex-between();
            p{
                color: #C0C0C0;
                font-size: 14px;
            }
            .social{

                ul{
                    display: flex;

                    i{
                        color: #C0C0C0;
                        margin-left: 10px;
                    }
                }
               
            }
        }
    }
}


//mobile responsive
@media screen and (max-width:393px){
    header{
        width: 100%;
        .container{
            width: 90%;
            .header-content{
                @include flex-between();
                nav{
                    display: none;
                }
               .nav-bar{
                display: block;
               }
            }
        }
    }
    main{
        #home{
            .home-content{
                width: 100%;
                background-size: cover;
                align-items: center;
                .home-title{
                    display: none;
                }
            }
        }
        #cards{
            height: auto;
            .container{
                max-width: 90%;
                .cards-content{
                    .cards{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        height: auto;
                        .card-item{
                            width: 100%;
                            margin-bottom: 20px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #gearcage{
            height: auto;
            .gearcage-content{
                flex-direction: column;
                display: flex;
                align-items: flex-start;
                .gearcage-text{
                    width: 100%;
                    padding: 20px 10px;
                }
                .gearcage-img{
                    width: 100%;
                    height: 300px;
                    background-image: url(../image/car.png);
                    
                }
            }
        }
        #clients{
            height: auto;
            .container{
                .clients-content{
                    .clients-item{
                        flex-direction: column;
                        img{
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    footer{
        height: auto;
        .container{
            .footer-top{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .footer-top-logo{
                    @include flex-center();
                    margin-bottom: 10px;
                    img{
                        margin-bottom: 10px;
                    }
                }
                .footer-top-nav{
                    nav{
                        margin-left:10px;
                    }
                }
            }
            .footer-middle{
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                .button{
                    width: 80%;
                }
            }
        }
    }
}

//tablet responsive
@media screen and (min-width:394px) and (max-width:768px){
    header{
      width: 100%;
        .container{
            
            .header-content{
                width: 100%;
                nav{
                    display: none;
                }
                .nav-bar{
                    display: block;
                }
            }
        }
    }
    main{
        #home{
            .home-content{
                width: 100%;
                background-size: cover;
                align-items: center;
                .home-title{
                    display: none;
                }
            }
        }
        #cards{
            height: auto;
            .container{
                max-width: 90%;
                .cards-content{
                    .cards{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        height: auto;
                        .card-item{
                            width: 100%;
                            margin-bottom: 20px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        #gearcage{
            height: auto;
            .gearcage-content{
                flex-direction: column;
                display: flex;
                justify-content: space-between;
                
                .gearcage-text{
                    width: 100%;
                    height: 340px;
                    padding: 20px 10px;
                }
                .gearcage-img{
                    width: 100%;
                    height: 340px;
                    background-image: url(../image/car.png); 
                }
            }
        }
        #clients{
            height: auto;
            .container{
                .clients-content{
                    .clients-item{
                        flex-direction: column;
                        img{
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
    footer{
        height: auto;
        .container{
            .footer-top{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .footer-top-logo{
                    @include flex-center();
                    margin-bottom: 10px;
                    img{
                        margin-bottom: 10px;
                    }
                }
                .footer-top-nav{
                    nav{
                        margin-left:10px;
                    }
                }
            }
            .footer-middle{
                display: flex;
                flex-direction: column;
                padding: 10px 0;
                .button{
                    width: 80%;
                }
            }
        }
    }
}