*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
//  start header

header{
    width: 100%;
    background: #181818;
    .container{
        .header-content{
            width: 100%;
            height: 90px;
            @include flex-between();
            .header-logo{
                cursor: pointer;
            }
            nav{
                ul{
                    display: flex;
                    align-items: center;
                    li{
                        margin-left: 30px;
                        a{
                            font-size: 15px;
                            color: #fff;
                        }
                    }
                    .button{
                        background: #FFFFFF;
                        border-radius: 14px;
                        height: 40px;
                        width: 150px;
                        @include flex-center();
                        a{
                            color: #000;
                        }
                    }
                }
            }
            .nav-bar{
                display: none;
                i{
                    color: #fff;
                    font-size: 30px;
                }
            }
        }
    }
}

// start main
main{
    #home{
        height: 100vh;
        .home-content{
            height: 100vh;
            background-image: url(../image/bg.png);
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
           .home-text{
             width: 580px;
             display: flex;
             flex-direction: column;
             color: #fff;
             margin-bottom: 70px;
             
             h6{
                font-size: 14px;
                text-align: center;
             }
             h2{
                font-size: 54px;
                text-align: center;
             }
             p{
                font-size: 14px;
                text-align: center;
             }
           }
           .home-title{
            color: #fff;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            span{
                margin-right: 10px;
                img{
                    margin-right: 4px;
                }
            }
           }
        }
    }
    #cards{
        background-color: #000;
        height:220vh;
        .container{
            .cards-content{
                padding-top: 112px;
                display: flex;
                flex-direction: column;
                .cards-title{
                    color: #fff;
                    text-align: center;
                    margin-bottom: 40px;
                    h2{
                        font-size: 40px;
                    }
                    p{
                        font-size: 23px;
                    }
                }
                .cards{
                    height:180vh;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .card-item{
                        width: 48%;
                        height: 550px;
                        position: relative;
                        img{
                            width: 100%;
                            height: 550px;
                        }
                       
                        .card-img-text{
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            color: #fff;
                           font-size: 14px;
                           display: flex;
                           flex-direction: column;
                           padding: 30px;
                           p{
                            margin: 10px 0;
                           }
                           .button{
                            width: 140px;
                            height: 42px;
                            color: #000;
                            border-radius: 14px;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: space-around;
                            cursor: pointer;
                            .black-btn{
                                width: 32px;
                                height: 32px;
                                border-radius: 50%;
                                background-color: #000;
                                
                            }
                           }
                        }
                    }
                    
                }
            }
        }
    }
    #images{
       height: 100vh;
        .images-content{
            width: 100%;
            height: 100vh;
            background-image: url(../image/back.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #fff;
            font-size: 14px;
            position: relative;
            .images-text{
                width: 300px;
                margin-right: 60px;
            }
            .images-title{
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: 40px;
                margin-right: 40px;
                span{
                    margin-right: 10px;
                    img{
                        margin-right:4px ;
                    }
                }
            }
        }
    }
}



//mobile responsive
@media screen and (max-width:393px){
    header{
        width: 100%;
        .container{
            width: 90%;
            .header-content{
                @include flex-between();
                nav{
                    display: none;
                }
               .nav-bar{
                display: block;
               }
            }
        }
    }
    main{
        #home{
            .home-content{
                width: 100%;
                background-size: cover;
                align-items: center;
                .home-title{
                    display: none;
                }
            }
        }
        #cards{
            .container{
                max-width: 90%;
                .cards-content{
                    .cards{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        height: auto;
                        .card-item{
                            width: 100%;
                            margin-bottom: 20px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

//tablet responsive
@media screen and (min-width:394px) and (max-width:768px){
    header{
      width: 100%;
        .container{
            
            .header-content{
                width: 100%;
                nav{
                    display: none;
                }
                .nav-bar{
                    display: block;
                }
            }
        }
    }
    main{
        #home{
            .home-content{
                width: 100%;
                background-size: cover;
                align-items: center;
                .home-title{
                    display: none;
                }
            }
        }
        #cards{
            .container{
                max-width: 90%;
                .cards-content{
                    .cards{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        height: auto;
                        .card-item{
                            width: 100%;
                            margin-bottom: 20px;
                            img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}